/* Color Scheme:
 * Green: 007849
 * Yellow: FFCE00
 * Blue: 0375B4
 * Black: 262228
 *
 * Fresh: 4ABDAC;
 * Vermillion: FC4A1A;
 * Sunshine: F7B733;
 * Clean: DFDCE3;
*/
* {
  font-family: 'Helvetica', serif;
}
html, body {
  height:100%;
  margin: 0;
}
body {
  color: whitesmoke;
}

.left-bar-text {
  font-weight: bolder;
}

.page-wrap {
  margin: 0;
  min-height: 100%;
  /* equal to site-footer height */
  padding-bottom: 40px; 
}
.page-wrap:after {
  content: "";
  display:block;
}

.site-footer {
  position: fixed;
  background: #404040;
  width: 100%;
  padding:5px;
  text-align: center;
  height:30px;
  vertical-align: middle;
  bottom: 0;
}

.profile-pic {
  text-align: center;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 700px) {
  .row {
    display: flex;
    width: 100%;
  }

  .left-bar-wrap {
    padding-top: 1px;
    padding-bottom: 100%;
    padding-right: 360px;
    background-color: #216c8b;
  }

  .left-column {
    width: 330px;
    padding: 15px;
    float:right;
    position: fixed;
  }

  .right-column {
    float:none;
    width: 100%;
    padding: 15px;
    text-align: left;
    background-color: #3f99d5;
  }
}
@media only screen and (max-width: 700px) {
  .row {
    margin: 0;
    width: 100%;
  }

  .left-bar-wrap {
    margin: 0;
    width: 100%-30px;
    padding: 15px;
    background-color: #216c8b;
  }

  .left-column {
    padding: 15px;
  }

  .right-column {
    float:none;
    width: 100%-30px;
    padding: 15px;
    text-align: left;
    background-color: #3f99d5;
  }
}

  

.details-button {
  border-radius: 8px;
  background-color: #404040;
  border: 2px solid;
  border-color: #d7c245;
  color: whitesmoke;
}

.details-button:hover {
  opacity: 0.5;
}
.clear-hover:hover {
  opacity: 0.5;
}

